<!DOCTYPE html>
<html lang="en">
  <head>
    #parse('search/head.vm')
  </head>
  <body>
    <div class="container" id="search">
        #parse('header.vm')
        $screen_content
        #parse('textSearch.vm')
    </div>
  </body>
</html>