<div id="company" class="clearfix">
  <img class="logo" src="/static/img/logo.symbol.png"/>
  <h1>SNOMED Clinical Terms</h1>
  <div id="navigation">
    <div id="logout">
      You are logged in as <a href='#springUrl("/auth/logout")'> $!user.prefix $user.firstname $user.lastname</a>
    </div>
  </div>
</div>