<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    #parse('head.vm')
  </head>
  <body>
    <div class="container">
        #parse('header.vm')
        $screen_content
        #parse('footer.vm')
    </div>
  </body>
</html>