#springFormHiddenInput("refset.id")

#springBind("refset.title")
#set ($state="")
#if ($status.error)
  #set ($state="has-error")
#end
<div class="form-group $state">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" placeholder="Enter title" name="${status.expression}" value="$!{status.value}">
  <div class="errors">
    #foreach($error in $status.errorMessages)
      <p class="text-danger">$error</p>
    #end
  </div>
</div>

#springBind("refset.description")
#set ($state="")
#if ($status.error)
  #set ($state="has-error")
#end
<div class="form-group $state">
  <label for="description">Description</label>
  <textarea id="description" class="form-control" rows="3" placeholder="Enter Description" name="${status.expression}">$!status.value</textarea>  
  <div class="errors">
    #foreach($error in $status.errorMessages)
      <p class="text-danger">$error</p>
    #end
  </div>
</div>

#springBind("refset.publicId")
#set ($state="")
#if ($status.error)
  #set ($state="has-error")
#end
<div class="form-group $state">
  <label for="pubid">Public Id</label>
  <input type="text" class="form-control" id="pubid" placeholder="Enter Public ID" name="${status.expression}" value="$!{status.value}">
  <div class="errors">
    #foreach($error in $status.errorMessages)
      <p class="text-danger">$error</p>
    #end
  </div>
</div>

<!-- <div class="error"> -->
<!-- #springBind("refset.*") -->
<!--   #if(${status.error}) -->
<!--     <b>Please fix all errors!</b> -->
<!--   #end -->
<!-- </div> -->
