#set ($title = "#springMessage('page.title.edit.refset')")
<div id="refset" class="edit">
  <ol class="breadcrumb">
    <li><a href='#springUrl("/refsets")'>Refsets</a></li>
    <li><a href='#springUrl("/refset/$pubid")'>Refset</a></li>
    <li class="active">Update Refset</li>
  </ol>
  <form role="form" method="post" action='#springUrl("/refset/$pubid/edit")'>
    #parse('refset.edit.inputs.vm')
    <div class="form-actions">
      <button type="submit" class="btn btn-sm btn-primary bottom">#springMessage('button.refset.update')</button>
    </div>
  </form>
</div>