#set ($title = "#springMessage('page.title.new.refset')")
<div id="refset" class="new">
  <ol class="breadcrumb">
    <li><a href='#springUrl("/refsets")'>Refsets</a></li>
    <li class="active">New Refset</li>
    
  </ol>
  <form role="form" method="post" action='#springUrl("/refset/new")'>
    #parse('refset.edit.inputs.vm')
    <div class="form-actions">
      <button type="submit" class="btn btn-sm btn-primary">Create</button>
    </div>
  </form>
</div>