#parse('refset/edit.refset.simple.inputs.vm')
<div id="plan" class="clearfix">
  
  #parse('refset/edit.refset.bindings.vm')


  #[[
  
  <script type="text/x-handlebars" data-template-name="plan" >
    ]]#
    #parse('refset/edit.refset.rules.menu.vm')
    #[[
    {{#each rule in model}}
      {{render "rule" rule}}
    {{/each}}
    
    {{render "setRule"}}

    {{render "listRule"}}
  </script>

  <script type="text/x-handlebars" data-template-name="listRule">
            
            ListRule
            {{outlet}}


  </script>

  <script type="text/x-handlebars" data-template-name="listRuleConcepts">
    {{#linkTo 'listRule.search'}}listRuleSearch{{/linkTo}}
    concepts
  </script>

  <script type="text/x-handlebars" data-template-name="listRuleSearch">
    {{#linkTo 'listRule.concepts'}}listRuleConcept{{/linkTo}}
    search
  </script>      

  <script type="text/x-handlebars" data-template-name="setRule">
    <div class="modal fade set-operation" id="unionRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Union Set Operation')
      #parse('refset/setRuleModal.vm')
      #[[
    </div>
    <div class="modal fade set-operation" id="intersectionRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Intersection Set Operation')
      #parse('refset/setRuleModal.vm')
      #[[
    </div>
    <div class="modal fade set-operation" id="differenceRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Difference Set Operation')
      #parse('refset/setRuleModal.vm')
    #[[
    </div>
    <div class="modal fade set-operation" id="symDifferenceRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Symmetric Difference Set Operation')
      #parse('refset/setRuleModal.vm')
      #[[
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="rule" >
    <div class="row">
      <div class="col-lg-1">Rule {{model.id}}</div>
      <div class="col-lg-11">
        {{#if isList}}
          List [
          {{#each concept in model.concepts}}
            {{concept.id}}
          {{/each}} ]
        {{/if}}
        {{#if isUnion}}
          Rule {{model.left}} <strong>Union</strong> Rule {{model.right}}
        {{/if}}
        {{#if isDifference}}
          Rule {{model.left}} <strong>Difference</strong> Rule {{model.right}}
        {{/if}}
        {{#if isSymDifference}}
          Rule {{model.left}} <strong>Symmetric Difference</strong> Rule {{model.right}}
        {{/if}}
        {{#if isIntersection}}
          Rule {{model.left}} <strong>Intersection</strong> Rule {{model.right}}
        {{/if}}
      </div>
    </div>
  </script>


  ]]#
</div>