#set( $layout = "refset/layout.vm" )
#set ($title = "#springMessage('page.title.edit.refset')")
#set ($staticPageScripts = ["/static/js/new.refset.js"])
#set ($dynamicPageScripts = ["refset/plan.js.vm"])
#set ($pageCss = ["/static/css/textSearch.css"])
#set ($modals = [])     
#set ($useExperimental=true)
<div id="refset" class="edit">
  <ol class="breadcrumb">
    <li><a href='../..'>Refsets</a></li>
    <li><a href='#springUrl("../$pubid")'>$pubId</a></li>
    <li class="active">Update Refset</li>
  </ol>
  <div class="container">

    #[[  
    <script type="text/x-handlebars">
      {{render "setRule"}}
      {{render 'listRule'}}
      {{partial 'textSearchModal'}}
      {{outlet}}
    </script>
    ]]#
    <form role="form" method="post" action='#springUrl("edit")'>
    
      #parse('refset/edit.refset.inputs.vm')

      <div class="form-actions">
        <button type="submit" class="btn btn-default btn-primary submit">#springMessage('button.refset.update')</button>
      </div>
    </form>
  </div>
</div>