#springFormHiddenInput("refset.id")

#springBind("refset.concept")
#set ($state="")
#if ($status.error)
  #set ($state="has-error")
#end
<div class="form-group $!state concept">
  <label for="concept">#springMessage('label.field.refset.concept')</label>
  <input style="display: none" type="text" class="form-control" id="concept-id" placeholder="#springMessage('input.field.refset.title')" name="${status.expression}" value="$!{status.value}"/>
  <div class="errors">
    #foreach($error in $status.errorMessages)
      <p class="text-danger">#springMessage("$error")</p>
    #end
  </div>
  <div class="row concept">
    #if ($status.value)
        #set ($not-selected-status = 'inactive')
        #set ($selected-status = 'active')
    #else
        #set ($not-selected-status = 'active')
        #set ($selected-status = 'inactive')
    #end    
    <div class="toggle-find-concept not-selected $not-selected-status">
      <div class="col-lg-12">
        <a data-toggle="modal" href="#textSearchModal" class="btn btn-success btn-sm">Find Concept</a>
      </div>
    </div>
    <div class="toggle-find-concept selected $selected-status">
        <div class="col-lg-10">
            <a id="concept-title" href="http://browser.sparklingideas.co.uk/ontology/1/concept/$!storedRefset.concept.id" target="_blank">$!storedRefset.concept.displayName</a>                
        </div>
        <div class="col-lg-2">
            <a data-toggle="modal" href="#textSearchModal" class="btn btn-info btn-xs change">Change Concept</a>            
        </div>
    </div>

  </div>
  <div class="clearfix"></div>
</div>


#springBind("refset.title")
#set ($state="")
#if ($status.error)
  #set ($state="has-error")
#end
<div class="form-group $state">
  <label for="title">#springMessage('label.field.refset.title')</label>
  <input type="text" class="form-control" id="title" placeholder="#springMessage('input.field.refset.title')" name="${status.expression}" value="$!{status.value}">
  <div class="errors">
    #foreach($error in $status.errorMessages)
      <p class="text-danger">#springMessage("$error")</p>
    #end
  </div>
</div>

#springBind("refset.description")
#set ($state="")
#if ($status.error)
  #set ($state="has-error")
#end
<div class="form-group $state">
  <label for="description">#springMessage('label.field.refset.description')</label>
  <textarea id="description" class="form-control" rows="3" placeholder="#springMessage('input.field.refset.description')" name="${status.expression}">$!status.value</textarea>  
  <div class="errors">
    #foreach($error in $status.errorMessages)
      <p class="text-danger">#springMessage("$error")</p>
    #end
  </div>
</div>

#springBind("refset.publicId")
#set ($state="")
#if ($status.error)
  #set ($state="has-error")
#end
<div class="form-group $state">
  <label for="pubid">#springMessage('label.field.refset.publicid')</label>
  <input type="text" class="form-control" id="pubid" placeholder="#springMessage('input.field.refset.publicid')" name="${status.expression}" value="$!{status.value}">
  <div class="errors">
    #foreach($error in $status.errorMessages)
      <p class="text-danger">#springMessage("$error")</p>
    #end
  </div>
</div>

  <!-- Display refset plan -->
  <h2 class="plan">Plan</h2>
  #springFormHiddenInput("refset.plan.id")
  <div id="rules">
    #set ($count = 0)
    #foreach($rule in ${refset.plan.refsetRules})
      <div class="bindings"
        #springBind("refset.plan.refsetRules[$count]")
        #springFormHiddenInput("refset.plan.refsetRules[$count].id")
        #springFormHiddenInput("refset.plan.refsetRules[$count].type")
        #springFormHiddenInput("refset.plan.refsetRules[$count].left")
        #springFormHiddenInput("refset.plan.refsetRules[$count].right")
        
        #set ($concept_counter = 0)
        #foreach($concept in $rule.concepts)
            #springFormHiddenInput("refset.plan.refsetRules[$count].concepts[$concept_counter].id")
            #springFormHiddenInput("refset.plan.refsetRules[$count].concepts[$concept_counter].displayName")
            #set($concept_counter = $concept_counter + 1)
        #end        
        #set ($count = $count + 1)
      </div>
      <div class="row">
        <div class="col-lg-1">Rule $rule.id</div>
        <div class="col-lg-11">
          #if( $rule.type.name().equals("LIST") )
            ListConceptsRefsetRule {$rule.conceptIds()}
          #elseif( $rule.type.name().equals("DIFFERENCE") )
              Rule $rule.left <strong>DifferenceRefsetRule</strong> Rule $rule.right
          #elseif( $rule.type.name().equals("INTERSECTION") )                
              Rule $rule.left <strong>IntersectionRefsetRule</strong> Rule $rule.right
          #elseif( $rule.type.name().equals("SYMMETRIC") )
              Rule $rule.left <strong>Symmetric Difference</strong> Rule $rule.right
          #elseif( $rule.type.name().equals("UNION") )
              Rule $rule.left <strong>Union</strong> Rule $rule.right
          #else
              Not Found!
          #end
        </div>
      </div>
    #end
    
    <div id="newrule" class="dropdown">
      <a href="#" data-toggle="dropdown">Add Rule</a>      
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation" class="dropdown-header">Source Rules</li>
        <li role="presentation"><a role="menuitem" tabindex="-1">List Concepts</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Set Operations</li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Union</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Intersection</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Difference</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Symmetric Difference</a></li>
      </ul>    
    </div>
</div>



<!-- <div class="error"> -->
<!-- #springBind("refset.*") -->
<!--   #if(${status.error}) -->
<!--     <b>Please fix all errors!</b> -->
<!--   #end -->
<!-- </div> -->
