#parse('refset/edit.refset.simple.inputs.vm')
<div id="plan" class="clearfix">
  
  #parse('refset/edit.refset.bindings.vm')


  #[[
  
  <script type="text/x-handlebars" data-template-name="plan" >

  <div class="clearfix">    
    {{#if showConcepts}}
      <a {{action 'showPlan'}}>Edit Plan</a>
      <h2 class="plan">Concepts</h2>
    {{/if}}
    {{#if showPlan}}
      <a {{action 'showConcepts'}}>Show Concepts</a>
      <h2 class="plan">Plan</h2>
      ]]#
      #parse('refset/edit.refset.rules.menu.vm')
      #[[
      {{#each rule in model}}
        {{render "rule" rule}}
      {{/each}}
    {{/if}}
  </div>
    
    {{render "setRule"}}
    {{render 'listRule'}}
  </script>

  <script type="text/x-handlebars" data-template-name="listRule">
    <div class="modal fade set-operation" id="listRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>List Concepts</h4>
          </div>
          <div class="modal-body">
          <div class="container">
            
            

            {{#if isSearching}}
              {{view view.searchView}}
            {{else}}
              {{view view.conceptsView}}
            {{/if}}            

          </div><!-- container -->
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="button" data-dismiss="modal" {{action 'save'}} class="btn btn-primary btn-sm">Save changes</button>
        </div>    
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </script>

  <script type="text/x-handlebars" data-template-name="listRuleConcepts">
    <a {{action 'gosearch' this}}>Search for Concepts</a>
    <h3>Concepts</h3>
    {{#each concept in model.concepts}}
      {{concept.id}}, 
    {{/each}}
  </script>

  <script type="text/x-handlebars" data-template-name="listRuleSearch">
    <a {{action 'goconcepts' this}}>View Concepts</a>
    <h3>Search for Concepts</h3>
    <div id="textSearchTemplate">
      [{{render "textsearch"}}]
    </div>
  </script> 


  <script type="text/x-handlebars" data-template-name="setRule">
    <div class="modal fade set-operation" id="unionRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Union Set Operation')
      #parse('refset/setRuleModal.vm')
      #[[
    </div>
    <div class="modal fade set-operation" id="intersectionRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Intersection Set Operation')
      #parse('refset/setRuleModal.vm')
      #[[
    </div>
    <div class="modal fade set-operation" id="differenceRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Difference Set Operation')
      #parse('refset/setRuleModal.vm')
    #[[
    </div>
    <div class="modal fade set-operation" id="symDifferenceRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
      #set ($title='Symmetric Difference Set Operation')
      #parse('refset/setRuleModal.vm')
      #[[
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="rule" >
    <div class="row">
      <div class="col-lg-1">Rule {{model.id}}</div>
      <div class="col-lg-11">
        {{#if isList}}
          List [
          {{#each concept in model.concepts}}
            {{concept.id}}
          {{/each}} ]
        {{/if}}
        {{#if isUnion}}
          Rule {{model.left}} <strong>Union</strong> Rule {{model.right}}
        {{/if}}
        {{#if isDifference}}
          Rule {{model.left}} <strong>Difference</strong> Rule {{model.right}}
        {{/if}}
        {{#if isSymDifference}}
          Rule {{model.left}} <strong>Symmetric Difference</strong> Rule {{model.right}}
        {{/if}}
        {{#if isIntersection}}
          Rule {{model.left}} <strong>Intersection</strong> Rule {{model.right}}
        {{/if}}
      </div>
    </div>
  </script>


  ]]#
</div>