#set( $layout = "refset/layout.vm" )
#set ($title = "#springMessage('page.title.edit.refset')")
#set ($pageScripts = ["/static/js/textSearch.js", "/static/js/edit.refset.js"])
#set ($pageCss = ["/static/css/textSearch.css"])
#set ($modals = ["textSearchModal.vm"])        

<div id="refset" class="edit">
  <ol class="breadcrumb">
    <li><a href='#springUrl("/refsets")'>Refsets</a></li>
    <li><a href='#springUrl("/refset/$pubid")'>$pubId</a></li>
    <li class="active">Update Refset</li>
  </ol>
  <form role="form" method="post" action='#springUrl("/refset/$pubid/edit")'>
    #parse('refset/edit.refset.inputs.vm')
    <div class="form-actions">
      <button type="submit" class="btn btn-default btn-primary submit">#springMessage('button.refset.update')</button>
    </div>
  </form>
</div>