#[[ 

<script type="text/x-handlebars" data-template-name="viewDetails">
  <div class = "api-links">
      <span class="xml link"><a {{bind-attr href=xmlUrl}} target="_blank">XML</a></span>
      <span class="dividor"> _ </span>
      <span class="json link"><a {{bind-attr href=jsonUrl}} target="_blank">JSON</a></span>
  </div>  
  <div class="refsetconcept"><a {{bind-attr href=conceptUrl}} target="_blank">{{conceptDisplayName}}</a></div>
  <div class="editrefset"><a href="#" {{action 'editDetails'}}><span class="glyphicon glyphicon-edit"></span></a></div>
  <span data-toggle="tooltip" data-animation=true title="first tooltip"><h1 class="title clearfix" >{{title}}</h1></span>
</script>

<script type="text/x-handlebars" data-template-name="editDetails">
  <div class="closedetails clearfix">
    <button  class="close" chref="#" {{action 'viewDetails'}}>&times;</button>
  </div>  
  ]]#
  #parse('refset/edit.refset.simple.inputs.vm')
  #[[

</script>

<script type="text/x-handlebars" data-template-name="listRuleConcepts">
  <div class="concepts">
    <button type="button" {{action 'gosearch' this}} class="btn btn-info btn-xs mode">Search</button>    
    <h3>Concepts</h3>
    <div class="list-group clearfix">
      {{#each concept in concepts}}
        <a  {{bind-attr href=concept.url}} target="_blank" class="list-group-item">
          {{concept.title}} <small style="color: lightgrey; padding-left: 0.5em">{{concept.id}}</small>
          
          <button type="button" {{action 'removeconcept' concept}} class="close" aria-hidden="true">&times;</button>
        </a>
      {{/each}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="listRuleSearch">
  <button type="button" {{action 'goconcepts' this}} class="btn btn-info btn-xs mode">List</button>
  <h3>Search for Concepts</h3>
  <div id="textSearchTemplate">
    {{control textSearch}}
  </div>
</script> 

<script type="text/x-handlebars" data-template-name="listRule">
  <div class="modal fade set-operation" id="listRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>List Concepts</h4>
        </div>
        <div class="modal-body">

          {{#if isSearching}}
            {{view view.searchView}}
          {{else}}
            {{view view.conceptsView}}
          {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="button" data-dismiss="modal" {{action 'save'}} class="btn btn-primary btn-sm">Save changes</button>
      </div>    
    </div>
  </div>
</script>  

<script type="text/x-handlebars" data-template-name="rules">
  <div class="details">
    {{#if isEdit}}
      {{view MyApp.EditDetailsView}}
    {{else}}
      {{view MyApp.ViewDetailsView}}
    {{/if}}
  </div>
  <h4 class="rules">Rules</h4>
  <div id="newrule" class="dropdown clearfix">
    <button type="button" data-toggle="dropdown" class="btn btn-default btn-sm">Add Rule</button>      
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
      <li role="presentation" class="dropdown-header">Source Rules</li>
      <li role="presentation"><a role="menuitem" {{action 'listRule' this}} data-toggle="modal" href="#listRuleModal" tabindex="-1">List Concepts</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">Set Operations</li>
      <li role="presentation"><a role="menuitem" {{action 'unionRule' this}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Union</a></li>
      <li role="presentation"><a role="menuitem" {{action 'intersectionRule' this}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Intersection</a></li>
      <li role="presentation"><a role="menuitem" {{action 'differenceRule' this}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Difference</a></li>
      <li role="presentation"><a role="menuitem" {{action 'symDifferenceRule' this}} data-toggle="modal" href="#setRuleModal" tabindex="-1">Symmetric Difference</a></li>          
    </ul>    
  </div>
  <div class="list-group clearfix" id="rules">
    {{#each rule in plan.refsetRules}}
      {{control "rule" rule}}</a>
    {{/each}}
  </div>
  <div id="terminal">
    <span class="title"><strong style="padding-right: 0.5em">Terminal </strong> Rule {{plan.terminal}}</span>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="setRule">
  <div class="modal set-operation" id="setRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Set Operation</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row set-operation clearfix">
              <div class="left">
                <div class="dropdown clearfix">
                  <a href="#" data-toggle="dropdown">{{#if left}}Rule {{left}} {{else}} Select Rule {{/if}}</a></a>
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                    {{#each rule in controllers.rules.rules}}
                      <li role="presentation"><a role="menuitem" {{action 'setLeft' rule.id}} href="#" tabindex="-1">Rule {{rule.id}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
              <div class="operand">{{model.type}}</div>
              <div class="right">
                <div class="dropdown clearfix">
                  <a href="#" data-toggle="dropdown">{{#if right}} Rule {{right}} {{else}} Select Rule {{/if}}</a>
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                    {{#each rule in controllers.rules.rules}}
                      <li role="presentation"><a role="menuitem" {{action 'setRight' rule.id}} href="#" tabindex="-1">Rule {{rule.id}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          <button type="button" data-dismiss="modal" {{action 'saverule'}} class="btn btn-primary btn-sm">Save changes</button>
        </div>    
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="updateResponse">
  <div class="modal fade set-operation" id="updateResponseModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Result of Update</h4>
        </div>
        <div class="modal-body">

          <div class="response">
            <div class="parameter clearfix">
              {{#if success}}<div class="name" style="color:green">Success</div>{{else}}<div class="name" style="color: red">Fail</div>{{/if}}
              <div class="value">{{status}} ({{code}})</div>
            </div>
            <div class="parameter clearfix">
              <div class="name">for</div>
              <div class="value">{{publicId}}</div>
            </div>            
            {{#each error in globalErrors}}
              <div class="parameter clearfix error">
                <div class="name">Error</div>
                <div class="value">{{error.displayMessage}} ({{code}})</div>
              </div>
            {{/each}}      

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
        </div>    
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="rule" >
  {{#if isList}}
  <a {{action 'editrule' rule}} data-toggle="modal" href="#listRuleModal" class="list-group-item">
  {{else}}
  <a {{action 'editrule' rule}} data-toggle="modal" href="#setRuleModal" class="list-group-item">
  {{/if}}
    <div class="row">
      <div class="col-lg-1 identifier"><strong>Rule {{id}}</strong></div>
      <div class="col-lg-10 description">
        {{#if isList}}
          <strong>List</strong> <span style="padding-left: 0.5em; color: lightgrey">{{concepts.length}} concepts</span>
        {{/if}}
        {{#if isUnion}}
          <strong>Set Operation: </strong>{{model.left}} <strong>Union</strong> {{model.right}}
        {{/if}}
        {{#if isDifference}}
          Rule {{model.left}} <strong>Difference</strong> Rule {{model.right}}
        {{/if}}
        {{#if isSymDifference}}
          Rule {{model.left}} <strong>Symmetric Difference</strong> Rule {{model.right}}
        {{/if}}
        {{#if isIntersection}}
          Rule {{model.left}} <strong>Intersection</strong> Rule {{model.right}}
        {{/if}}
      </div>
      <div class="col-lg-1">
        <button type="button" class="close" {{action 'removerule' this}}>&times;</button>
      </div>
    </div>
  </a>
</script>
]]#  