#set( $layout = "refset/layout.vm" )
#set ($title = "#springMessageText('page.title.refset' [$refset.title])")
#parse('refset/alert.vm')
#set ($xml = $pubId + ".xml")
#set ($json = $pubId + ".json")
<div id="refset">
  <ol class="breadcrumb">
    <li><a href='#springUrl("..")'>Refsets</a></li>
    <li class="active">$refset.publicId</li>
  </ol>
    <div class = "api-links">
      <span class="xml link"><a href="$xml" target="_blank">XML</a></span>
      <span class="dividor"> _ </span>
      <span class="json link"><a href="$json" target="_blank">JSON</a></span>
    </div>  
  <div class="clearfix" style="padding-top: 0.5em">
    <h2 style="float: left; margin-top: 0">$refset.title</h2>
    <div class="refsetconcept" style="float: right;"><a href="http://browser.snomedtools.com/version/1/concept/${refset.concept.serialisedId}" target="_blank">$refset.concept.displayName</a></div>    

  </div>
  <div class="clearfix">
    <div class="description" style="float: left">$refset.description</div>

  </div>
  <h3 style="padding-top: 1em">Concepts</h3>
  <div class="list-group clearfix" id="concepts">
    #foreach ($concept in $refset.plan.concepts)
      <a hre="http://browser.snomedtools.com/version/1/concept/$concept.id" target="_blank" class="list-group-item">${concept.displayName} <small style="color: lightgrey;">$concept.id</small></a>
    #end
  </div>
  <a href='#springUrl("$refset.publicId/edit")' class="btn btn-sm btn-primary bottom">#springMessage('button.refset.modify')</a>
</div>