#set( $layout = "refset/layout.vm" )
#set ($title = "#springMessageText('page.title.refset' [$refset.title])")
#parse('refset/alert.vm')
<div id="refset">
  <ol class="breadcrumb">
    <li><a href='#springUrl("/refsets")'>Refsets</a></li>
    <li class="active">$refset.publicId</li>
  </ol>
  <div class="row">
      <div class="col-lg-2">
        <label>#springMessage('label.field.refset.concept')</label>
      </div>
      <div class="col-lg-10">
        <span><a href="http://browser.sparklingideas.co.uk/ontology/1/concept/${refset.concept.serialisedId}" target="_blank">$refset.concept.displayName</a></span>
      </div>        
  </div>
  <div class="row">
      <div class="col-lg-2">
        <label>#springMessage('label.field.refset.title')</label>
      </div>
      <div class="col-lg-10">
        <span>$refset.title</span>
      </div>        
  </div>
  <div class="row">
      <div class="col-lg-2">
        <label>#springMessage('label.field.refset.description')</label>
      </div>
      <div class="col-lg-10">
        <span>$refset.description</span>
      </div>        
  </div>
  <div class="row">
      <div class="col-lg-2">
        <label>#springMessage('label.field.refset.publicid')</label>
      </div>
      <div class="col-lg-10">
        <span>$refset.publicId</span>
      </div>        
  </div>
  
  <!-- Display refset plan -->
  <h2 class="plan">Plan</h2>
  <div id="rules">
    #foreach( $rule in $refset.plan.rules )
    <div class="row">
      <div class="col-lg-1">Rule $rule.id</div>
      <div class="col-lg-11">
        #if( $rule.class.simpleName.equals("ListConceptsRefsetRule") )
            ListConceptsRefsetRule {$rule.conceptIds}
        #elseif( $rule.class.simpleName.equals("DifferenceRefsetRule"))
            Rule $rule.left.id <strong>DifferenceRefsetRule</strong> Rule $rule.right.id
        #elseif( $rule.class.simpleName.equals("IntersectionRefsetRule"))                
            Rule $rule.left.id <strong>IntersectionRefsetRule</strong> Rule $rule.right.id
        #elseif( $rule.class.simpleName.equals("SymmetricDifferenceRefsetRule"))
            Rule $rule.left.id <strong>Symmetric Difference</strong> Rule $rule.right.id
        #elseif( $rule.class.simpleName.equals("UnionRefsetRule"))
            Rule $rule.left.id <strong>Union</strong> Rule $rule.right.id
        #end
      </div>
    </div>
    #end
  </div>
  <a href='#springUrl("/refset/$refset.publicId/edit")' class="btn btn-sm btn-primary bottom">#springMessage('button.refset.modify')</a>
</div>