#[[
<script type="text/x-handlebars" data-template-name="setRule">
    <div class="modal fade set-operation" id="unionRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
        #set ($title='Union Set Operation')
        #parse('refset/setRuleModal.vm')
      #[[
    </div>
    <div class="modal fade set-operation" id="intersectionRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
        #set ($title='Intersection Set Operation')
        #parse('refset/setRuleModal.vm')
      #[[
    </div>
    <div class="modal fade set-operation" id="differenceRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
        #set ($title='Difference Set Operation')
        #parse('refset/setRuleModal.vm')
      #[[
    </div>
    <div class="modal fade set-operation" id="symDifferenceRuleModal" tabindex="-1" role="dialog" aria-labelledby="h4" aria-hidden="true">
      ]]#
        #set ($title='Symmetric Difference Set Operation')
        #parse('refset/setRuleModal.vm')
      #[[
    </div>

</script>
]]#