<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/jdbc 
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">
    
    <context:property-placeholder 
        location="classpath:spring.properties" 
        system-properties-mode="OVERRIDE" 
        ignore-unresolvable="true"/>
    
    <context:component-scan base-package="com.ihtsdo.snomed.config" />
    <context:component-scan base-package="com.ihtsdo.snomed.repository" />
    <context:component-scan base-package="com.ihtsdo.snomed.service" />
    <context:component-scan base-package="com.ihtsdo.snomed.model" />
    <context:component-scan base-package="com.ihtsdo.snomed.dto" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.dto" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.model" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.service" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.validator" />
    
    <context:property-placeholder location="classpath:swagger.properties" />

    <context:component-scan base-package="com.mangofactory.swagger.springmvc.example" />

    <jpa:repositories base-package="com.ihtsdo.snomed.repository" 
        entity-manager-factory-ref="entityManagerFactory" />
    
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
            <property name="validationMessageSource" ref="messageSource" />
    </bean>

    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="packagesToScan">
            <list>
                <value>com.ihtsdo.snomed.model.*</value>
            </list>
        </property>
    </bean>
    
	<bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"></bean>
    
    <!-- ################### Message Converters ################### -->

    <bean id="jsonObjectMapperConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="application" />
                    <constructor-arg index="1" value="json" />
                    <constructor-arg index="2" value="UTF-8" />
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="marshallingXmlHttpMessageConverter" class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
        <property name="marshaller" ref="jaxb2Marshaller" />
        <property name="unmarshaller" ref="jaxb2Marshaller" />
        <property name="supportedMediaTypes" value="application/xml"/>
    </bean>    
    

    <!-- ################### SPRING Support Internationalization ################### -->
    
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en_GB" />
    </bean>
        
    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="language" />
    </bean>    
    
    <!-- 
        1.welcome.htm?language=en – Get the message from English properties file.
        2.welcome.htm?language=zh_CN – Get the message from Chinese properties file.
     -->
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" >
        <property name="interceptors">
           <list>
            <ref bean="localeChangeInterceptor" />
           </list>
        </property>
    </bean>    
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="basenames">
            <list>
                <value>WEB-INF/i18n/message</value>
            </list>
        </property>
    </bean>    

</beans>