<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Snomed Browse Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/browse/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>


<!--     <filter> -->
<!--         <filter-name>OpenEntityManagerInViewFilter</filter-name> -->
<!--         <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class> -->
<!--         <init-param> -->
<!--             <param-name>singleSession</param-name> -->
<!--             <param-value>true</param-value> -->
<!--         </init-param> -->
<!--         <init-param> -->
<!--             <param-name>flushMode</param-name> -->
<!--             <param-value>AUTO</param-value> -->
<!--         </init-param> -->
<!--         <init-param> -->
<!--             <param-name>entityManagerFactoryBeanName</param-name> -->
<!--             <param-value>entityManagerFactory</param-value> -->
<!--         </init-param>         -->
<!--     </filter> -->
<!--     <filter-mapping> -->
<!--         <filter-name>OpenEntityManagerInViewFilter</filter-name> -->
<!--         <url-pattern>/browse/*</url-pattern> -->
<!--     </filter-mapping> -->

    <!-- <security-constraint> -->
    <!-- <display-name>authorizedUsers</display-name> -->
    <!-- <web-resource-collection> -->
    <!-- <web-resource-name>ALL URLs</web-resource-name> -->
    <!-- <url-pattern>/*</url-pattern> -->
    <!-- </web-resource-collection> -->
    <!-- <auth-constraint> -->
    <!-- <role-name>USER</role-name> -->
    <!-- </auth-constraint> -->
    <!-- </security-constraint> -->

    <!-- <login-config> -->
    <!-- <auth-method>BASIC</auth-method> -->
    <!-- <realm-name>Snomed</realm-name> -->
    <!-- </login-config> -->

    <!-- <security-role> -->
    <!-- <description>user access</description> -->
    <!-- <role-name>USER</role-name> -->
    <!-- </security-role> -->

</web-app>