body{
    font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
}

.folder{
    padding-left: 2em;
}

.file{
     padding: 0.25em 0 0.25em 2em !important;
     clear: both;
     font-size: 0.9em;
}

.module{
    float: left;
    clear: both;
    padding: 0;
    margin-bottom: 1em;
    margin-left: 0.75em;
    
}

.intro{
    font-size: 0.75em;
    padding: 1em 1em 0 1.5em;
}

h1{ 
    font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;    
    padding-left: 0.5em;
}

h2{/*folder*/
    margin: 1em 0 0.5em;
    font-size: 1.2em;
    font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}

h2 a{
    text-decoration: none;
}

h3{/*module*/
    margin: 1em 0 0.5em;
    font-size: 1em;
    
}

h4{
    margin: 0.5em 0 0.5em 0;
    font-weight: normal;
    font-style: italic;
}

.refsets{
    
    float: left;
}


.file .module ul{
    list-style-type: none;
    padding-left: 1em;
    margin: 0;
}

.file .module li{
    padding: 0.15em 0;
    margin: 0;
}

.file{
    padding: 0.15em 0;
}

.file a{
    text-decoration: none;
}

.file span.popup .line{
    clear: both;
}
.file span.popup .title{
    float: left;
    width: 6em;
    font-weight: bold;
}
.file span.popup .value{
    float: left;
}

.module span.name{
    width: 45em;
    float: left;    
}

.module span.sid{
    font-size: 0.8em;
    font-family: courier;
        
}

.module .refsets span.name{
    width: 44em;
}


*.tooltip {
    outline:none; 
}

*.tooltip a{
    float: left;
    clear: both; 
}
*.tooltip strong {
    line-height:30px;
}
*.tooltip:hover {
    text-decoration:none;
} 
*.tooltip span {
    z-index:10;
    display:none; 
    padding:12px 18px;
    margin-top:-20px; 
    margin-left:15px;
    width:auto; 
    line-height:16px;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 0.9em;
}

*.tooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#111;
    border:1px solid #DCA; 
    background:#fffAF0;
    border-radius: 10px 10px 10px 10px;
}


.callout {
    z-index:20;
    top:30px;
    border:0;
    left:-12px;
}
*.tooltip span
{
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

.tooltip.arrow span:after, .tooltip.arrow span:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip.arrow span:after {
    border-color: rgba(255, 250, 240, 0);
    border-right-color: #fffAF0;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.tooltip.arrow span:before {
    border-color: rgba(221, 204, 170, 0);
    border-right-color: #DCA;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}
/* CLEARFIX */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

