<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/jdbc 
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">
    
    <context:property-placeholder 
        location="classpath:spring.properties" 
        system-properties-mode="OVERRIDE" 
        ignore-unresolvable="true"/>
    
    <context:component-scan base-package="com.ihtsdo.snomed.config" />
    <context:component-scan base-package="com.ihtsdo.snomed.repository" />
    <context:component-scan base-package="com.ihtsdo.snomed.service" />
    <context:component-scan base-package="com.ihtsdo.snomed.model" />
    <context:component-scan base-package="com.ihtsdo.snomed.dto" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.config" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.dto" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.filter" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.model" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.service" />
    <context:component-scan base-package="com.ihtsdo.snomed.web.validator" />
    
    <context:property-placeholder location="classpath:swagger.properties" />
    
      <!-- pulls in the Controllers to document -->
    <context:component-scan base-package="com.mangofactory.swagger.springmvc.example" />
    
    
    
    <jpa:repositories base-package="com.ihtsdo.snomed.repository" entity-manager-factory-ref="entityManagerFactory" />
    
    
        
    <!-- VALIDATOR -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
            <property name="validationMessageSource" ref="messageSource" />
    </bean>

    <!-- TRACE -->
<!--     <import resource="trace-context.xml"/> -->

    
    <!-- ****************** -->
    <!-- JAXB and JACKSON   -->
    <!-- ****************** -->
    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="packagesToScan">
            <list>
                <value>com.ihtsdo.snomed.model.*</value>
            </list>
        </property>
    </bean>
<!--     <bean id="jaxbAnnotationInspector" class="com.fasterxml.jackson.module.jaxb.JaxbAnnotationIntrospector" /> -->
<!--     <bean id="jaxbJacksonObjectMapper" class="com.deluxemediatechnologies.insight.util.JaxbJacksonObjectMapper"> -->
<!--         <property name="annotationIntrospector" ref="jaxbAnnotationInspector" /> -->
<!--     </bean> -->
    
    <!-- ******************** -->
    <!--  MESSAGE CONVERTERS  -->
    <!-- ******************** -->
    <bean id="jsonObjectMapperConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
<!--         <property name="objectMapper" ref="jaxbJacksonObjectMapper" /> -->
        <property name="supportedMediaTypes">
            <list>
                <bean class="org.springframework.http.MediaType">
                    <constructor-arg index="0" value="application" />
                    <constructor-arg index="1" value="json" />
                    <constructor-arg index="2" value="UTF-8" />
                </bean>
            </list>
        </property>
    </bean>

    
    <bean id="marshallingXmlHttpMessageConverter" class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
        <property name="marshaller" ref="jaxb2Marshaller" />
        <property name="unmarshaller" ref="jaxb2Marshaller" />
        <property name="supportedMediaTypes" value="application/xml"/>
    </bean>    
    
    <!-- HTTP CLIENT -->
   <bean id="httpClient" class="org.apache.http.impl.client.DefaultHttpClient">
        <constructor-arg>
            <bean class="org.apache.http.impl.conn.PoolingClientConnectionManager"/>
        </constructor-arg>
    </bean>
    
        
    <!-- Configure the multipart resolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="100000"/>
    </bean> 
 
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="2"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/velocity/"/>
<!--         <property name="configLocation" value="/WEB-INF/velocity.properties"/> -->
    </bean>
    
<!--     <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver"> -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
      <property name="order" value="1"/>
      <property name="cache" value="false"/>
      <property name="prefix" value=""/>
      <property name="suffix" value=".vm"/>
<!--       <property name="layoutUrl" value="layout.vm"/>       -->
    </bean>
    
    <!-- ################### SPRING Support Internationalization ################### -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en_GB" />
    </bean>
        
    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="language" />
    </bean>    
    
    <!-- 
        1.welcome.htm?language=en – Get the message from English properties file.
        2.welcome.htm?language=zh_CN – Get the message from Chinese properties file.
     -->
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" >
        <property name="interceptors">
           <list>
            <ref bean="localeChangeInterceptor" />
           </list>
        </property>
    </bean>    
    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="basenames">
            <list>
                <value>WEB-INF/i18n/message</value>
            </list>
        </property>
    </bean>    
    
<!--     <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" /> -->
    
<!--     Exception Resolvers -->
<!--     <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> -->
<!--         <property name="exceptionMappings"> -->
<!--             <props> -->
<!--                 <prop key="java.lang.Exception">error</prop> -->
<!--                 <prop key="java.lang.RuntimeException">error</prop> -->
<!--             </props> -->
<!--         </property> -->
<!--         <property name="statusCodes"> -->
<!--             <props> -->
<!--                 <prop key="error">404</prop> -->
<!--                 <prop key="error">500</prop> -->
<!--             </props> -->
<!--         </property> -->
<!--     </bean>     -->
    
    
    <bean id="sparqlTemplate" class="org.springframework.web.client.RestTemplate">
<!--         <property name="messageConverters" ref="mappingJacksonHttpMessageConverter"/> -->
<!--         <property name="messageConverters"> -->
<!--             <list> -->
<!--                 <bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"> -->
<!--                     <property name="marshaller" ref="jaxbMarshaller"/> -->
<!--                     <property name="unmarshaller" ref="jaxbMarshaller"/> -->
<!--                 </bean> -->
<!--                 <bean class="org.springframework.http.converter.FormHttpMessageConverter"/> -->
<!--                 <bean class="org.springframework.http.converter.StringHttpMessageConverter"/> -->
<!--             </list> -->
<!--         </property> -->
        <constructor-arg>
            <bean class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
                <constructor-arg ref="httpClient"/>
            </bean>
        </constructor-arg>
    </bean>
    
<!--     <bean id="refsetController" class="com.ihtsdo.snomed.web.controller.RefsetController" autowire="byType"/> -->

</beans>