h1,h2,h3,h4,h5{
    font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;     
}

body{
    font:13px "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif !important;
    }

.concept{  
    float: left;
    width: 40%; 
}

.relationship{
    width: 6em;
    float: left;
}
.relationship h4{
    float: left;
}

.group{
     font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
}

/* .group{ */
/*     width: 3em; */
/*     float: left; */
/*     text-align: center; */
/* } */
/* .group h4{ */
/*     float: left; */
/* } */

.section{
    margin: 0 0 1em 0;
}

.relationship.identifier {
    padding-top: 0.35em;
    font-size: 0.75em;
    width: 8em;
}

.relationship.identifier a{ 

}

/* Adobe Kuler - Heirloom one */
.line.group-0 {background-color: #C7B773;}
.line.group-1 {background-color: #E3DB9A;}
.line.group-2 {background-color: #F5FCD0;}
.line.group-3 {background-color: #B1C2B3;}
.line.group-4 {background-color: #778691;}

/* Adobe Kuler - Vintage beach  */
/* .line.group-0 {background-color: #B89A7B;} */
/* .line.group-1 {background-color: #9BBAAC;} */
/* .line.group-2 {background-color: #F2D649;} */
/* .line.group-3 {background-color: #D95D50;} */
/* .line.group-4 {background-color: #DBDBDB;} */

/* Adobe Kuler - Pleasant  */
/* .line.group-0 {background-color: #8C7F56;} */
/* .line.group-1 {background-color: #CCAB72;} */
/* .line.group-2 {background-color: #D3DBA7;} */
/* .line.group-3 {background-color: #D8F5BD;} */
/* .line.group-4 {background-color: #FFF9F1;} */

/* Adobe Kuler - Hidden in the crowd */
.line.group-5 {background-color: #7BB2A3;}
.line.group-6 {background-color: #8EAD79;}
.line.group-7 {background-color: #ADB064;}
.line.group-8 {background-color: #E0D867;}
.line.group-9 {background-color: #161616;}

.line.group-10 {background-color: #F2D649;}


/* .line.group-0 {background-color: #C4FFD7;} */
/* .line.group-1 {background-color: #FEFFEB;} */
/* .line.group-2 {background-color: #F0EBFF;} */
/* .line.group-3 {background-color: #FFE0E0;} */
/* .line.group-4 {background-color: #7979FC;} */
/* .line.group-5 {background-color: #FF4845;} */
/* .line.group-6 {background-color: #5445FF;} */
/* .line.group-7 {background-color: #45FF54;} */
/* .line.group-8 {background-color: #FF45E9;} */
/* .line.group-9 {background-color: #45FFFF;} */
/* .line.group-10 {background-color: #F9FF45;} */

#ontology{
    float: right;
}

#heading h1{
    margin: 0;  
}

#heading h2{
    margin: 0 0 1em 0;
}

#heading h3{
    margin: 0 0 0.5em 0;
    font-weight: normal;
    min-height: 1em;
}

#title{
    
}

#title h1{
    float: left;
    width: 70%;
}

.ids{
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
}

#title .ids{
    float: right;
    padding-top: 0.9em;
    text-align: right;
    width: 30%;
}


#heading .attributes{
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    float: right; 
    margin: 0.2em;
}

.section h3{
    margin: 1em 0;
    font-family: Georgia,serif;
    font-size: 1.2em;
}

.section h4{
    font-weight: normal;
    margin: 0 0 0.5em 0;
}

.section .entry{
     margin: 0 0 0.5em;
}

.section .ids{
    font-size: 0.8em;
    float: left;
    padding-right: 1em;
    padding-top: 0.25em;
}

.section .attributes{
    font-size: 0.8em;
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    margin: 0.25em 0 0 1em;
}

.section.single{
    float: left;
    width: 40%;
}

.section.single.left {
    padding-right: 5em;
}

.section.single .concept{
    float: none;
    width: 100%;
}

.section.flow .concept{
    padding-right: 5em;
}

body {
    padding: 2em; 
}

.relationship-property .title {
    float: left;
    width: 8em;
}

.relationship-property .value {
    float: left;
}

.relationship-property .line {
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}





a.tooltip {
    outline:none; 
}
a.tooltip strong {
    line-height:30px;
}
a.tooltip:hover {
    text-decoration:none;
} 
a.tooltip span {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:28px;
    width:auto; 
    line-height:16px;
}
a.tooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#111;
    border:1px solid #DCA; 
    background:#fffAF0;
}
.callout {
    z-index:20;
    position:absolute;
    top:30px;
    border:0;
    left:-12px;
}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
