body{
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
    padding: 0 2em;
    font-size: 0.8em;
}
h1,h2,h3{
    font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;     
}
h1{
    margin: 0; 
    float: left;
    font-weight: normal;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;  
}

h1 span.type {
    font-size: 0.75em;
}

h3{
   margin: 2em 0 1em;
}

.properties{
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    font-weight: 100;
}
.concept{
    width: 40em;
}
.concept .properties{
    font-size: 0.5em;
    margin: 0.5em 0 0;
}


/*GLOBAL HEADING*/
#global{
    margin-top: 1em;
}

h2{
    margin: 0;
    float: left;
    font-size: 1.5em;
    color: lightgrey;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;  
}

#ontology{
    float: right;
}

/* HEADING */
#heading{
    padding: 1em 0;
}

#heading .properties{
    clear: both;
    padding-top: 0.5em;
}
#heading .properties .ids{
    margin: 0 0 0.25em 0;
}

span.show-hide{
    float: right;
    font-size: 0.75em;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
}
span.show-hide a{
    text-decoration: none;
    
}

table.descriptions{
    display: block;
}

/* DESCRIPTIONS TABLE */
table.descriptions td.isactive{
    width: 2em;
    padding-top: 0.2em
}

table.descriptions td.id{

}

table.descriptions td.type{
    color: grey;
    padding: 0 2em;
}

table.descriptions tr{
    line-height: 1.5em;
}

table.descriptions td.id span.popup .line{
    line-height: 1.75em;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
}

table.descriptions td.id span.popup .title{
    float: left;
    width: 7em;
    font-weight: bold;
}
table.descriptions td.id span.popup .value{
    float: left;
        
}

/* TRIPLES TABLE */
table{
    width: 100%;
    border-collapse: collapse;
    float: left;
}
table th{
    font-weight: bold;
    text-align: left;
    padding: 0 0 0.5em 0.2em;
}
table.triples td{
    vertical-align: top;
    padding: 0.25em;    
}
table.triples td.statement{
    font-size: 0.8em;
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    font-weight: 200;
    padding: 0.55em 0 0 0.5em;
    width: 7em;
}
table.triples td.statement span.popup .title{
    float: left;
    width: 8em;
}
table.triples td.statement span.popup .value{
    float: left;
}
table.triples td.group{
    text-align: right;
    font-size: 0.8em;
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    font-weight: 200;
    padding: 0.5em;
    width: 4em;
}

/* Adobe Kuler - Heirloom one */
table.triples tr.group-0 {background-color: #C7B773;}
table.triples tr.group-1 {background-color: #E3DB9A;}
table.triples tr.group-2 {background-color: #F5FCD0;}
table.triples tr.group-3 {background-color: #B1C2B3;}
table.triples tr.group-4 {background-color: #778691;}

/* Adobe Kuler - Hidden in the crowd */
table.triples tr.group-5 {background-color: #7BB2A3;}
table.triples tr.group-6 {background-color: #8EAD79;}
table.triples tr.group-7 {background-color: #ADB064;}
table.triples tr.group-8 {background-color: #E0D867;}
table.triples tr.group-9 {background-color: #161616;}

/* and one extra */
table.triples tr.group-9 {background-color: #F2D649;}


/* Adobe Kuler - Vintage beach  */
/* .line.group-0 {background-color: #B89A7B;} */
/* .line.group-1 {background-color: #9BBAAC;} */
/* .line.group-2 {background-color: #F2D649;} */
/* .line.group-3 {background-color: #D95D50;} */
/* .line.group-4 {background-color: #DBDBDB;} */

/* Adobe Kuler - Pleasant  */
/* .line.group-0 {background-color: #8C7F56;} */
/* .line.group-1 {background-color: #CCAB72;} */
/* .line.group-2 {background-color: #D3DBA7;} */
/* .line.group-3 {background-color: #D8F5BD;} */
/* .line.group-4 {background-color: #FFF9F1;} */

/* My original one */
/* .line.group-0 {background-color: #C4FFD7;} */
/* .line.group-1 {background-color: #FEFFEB;} */
/* .line.group-2 {background-color: #F0EBFF;} */
/* .line.group-3 {background-color: #FFE0E0;} */
/* .line.group-4 {background-color: #7979FC;} */
/* .line.group-5 {background-color: #FF4845;} */
/* .line.group-6 {background-color: #5445FF;} */
/* .line.group-7 {background-color: #45FF54;} */
/* .line.group-8 {background-color: #FF45E9;} */
/* .line.group-9 {background-color: #45FFFF;} */
/* .line.group-10 {background-color: #F9FF45;} */

/* HIERARCHY */
.hierarchy .concept{
    float: left;
    padding: 0em 1em 0.75em 0;
    width: 20em;
    height: 4em;
    vertical-align: top;
    overflow: hidden;
}

/* CLEARFIX */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}



.tooltip {
    outline:none; 
}
.tooltip strong {
    line-height:30px;
}
.tooltip:hover {
    text-decoration:none;
} 
.tooltip span {
    z-index:10;
    display:none; 
    padding:7px 10px;
    margin-top:-30px; 
    margin-left:28px;
    width:auto; 
    line-height:16px;
}
.tooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#111;
    border:1px solid #DCA; 
    background:#fffAF0;
}
.callout {
    z-index:20;
    position:absolute;
    top:30px;
    border:0;
    left:-12px;
}
.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}





/* MOUSEOVER TOOLTIP */
a.tooltip {
    outline:none; 
}
a.tooltip strong {
    line-height:30px;
}
a.tooltip:hover {
    text-decoration:none;
} 
a.tooltip span {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:28px;
    width:auto; 
    line-height:16px;
}
a.tooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#111;
    border:1px solid #DCA; 
    background:#fffAF0;
}
.callout {
    z-index:20;
    position:absolute;
    top:30px;
    border:0;
    left:-12px;
}
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

body#notfound{
    padding: 0;
    margin: 0;
}
body#notfound img{
    width: 100%;
}
body#notfound h1{
    bottom: 60px;
    float: none;
    height: 0;
    margin-left: 15px;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2em;
}
body#notfound span{
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    font-weight: bold;
}
.circle {
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
}

.small{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.large{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 6px;
    float: left;
}

.inactive {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #FF6666 0%, red 100%, yellow 5%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #FF6666, red);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #FF6666 0%, red 100%, yellow 5%);
    border: 1px solid red;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.active {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%, blue 5%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, lightgreen, green);
    background-image: radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%, blue 5%);
    border: 1px solid green;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.id{
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
}

.description.popup .properties{
    width: 100%;
    clear: both;
}

.description.popup .properties .property{
    float: left;
    width: 100%;
    clear: both;
}

.description.popup .properties .property .title{
    float: left;
    width: 10em;
}

.description.popup .properties .property .value{
    float: left;
}

body#description-details .properties{
    width: 100%;
    clear: both;
}

body#description-details .properties .property{
    float: left;
    width: 100%;
    clear: both;
}

body#description-details .properties .property .title{
    float: left;
    width: 10em;
}

body#description-details .properties .property .value{
    float: left;
}