body{
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
    padding: 0 2em;
    font-size: 0.8em;
}
h1,h2,h3{
    font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;     
}
h1{
    margin: 0; 
    float: left;
    width: 75%; 
    font-weight: normal;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;  
}
h2{
    margin: 0 0 0.5em 0;
    font-size: 1.25em;
    font-weight: normal;
    clear: both;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;  
}
h3{
   margin: 1em 0;
}

.properties{
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    font-weight: 100;
}
.concept{
    width: 40em;
}
.concept .properties{
    font-size: 0.8em;
    margin: 0.25em 0 0;
}

/* HEADING */
#heading{
    padding-bottom: 2em;
}
#heading #ontology{
    margin: 0 0 1em 0;
    float: right;
}
#heading .properties{
    text-align: right;
    padding-top: 0.8em;
}
#heading .properties .ids{
    margin: 0 0 0.25em 0;
}


/* TRIPLES TABLE */
table{
    width: 100%;
    border-collapse: collapse;
    float: left;
    margin-bottom: 3em;
}
table th{
    font-weight: normal;
    text-align: left;
    padding-bottom: 0.5em;
}
table td{
    vertical-align: top;
    padding: 0.25em;    
}
table.triples td.statement{
    font-size: 0.8em;
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    font-weight: 200;
    padding: 0.55em 0 0 0.5em;
    width: 7em;
}
table.triples td.statement span.popup .title{
    float: left;
    width: 8em;
}
table.triples td.statement span.popup .value{
    float: left;
}
table.triples td.group{
    text-align: right;
    font-size: 0.8em;
    font-family: "source-code-pro-1","source-code-pro-2",sans-serif;
    font-weight: 200;
    padding: 0.5em;
    width: 4em;
}

/* Adobe Kuler - Heirloom one */
table.triples tr.group-0 {background-color: #C7B773;}
table.triples tr.group-1 {background-color: #E3DB9A;}
table.triples tr.group-2 {background-color: #F5FCD0;}
table.triples tr.group-3 {background-color: #B1C2B3;}
table.triples tr.group-4 {background-color: #778691;}

/* Adobe Kuler - Hidden in the crowd */
table.triples tr.group-5 {background-color: #7BB2A3;}
table.triples tr.group-6 {background-color: #8EAD79;}
table.triples tr.group-7 {background-color: #ADB064;}
table.triples tr.group-8 {background-color: #E0D867;}
table.triples tr.group-9 {background-color: #161616;}

/* and one extra */
table.triples tr.group-9 {background-color: #F2D649;}


/* Adobe Kuler - Vintage beach  */
/* .line.group-0 {background-color: #B89A7B;} */
/* .line.group-1 {background-color: #9BBAAC;} */
/* .line.group-2 {background-color: #F2D649;} */
/* .line.group-3 {background-color: #D95D50;} */
/* .line.group-4 {background-color: #DBDBDB;} */

/* Adobe Kuler - Pleasant  */
/* .line.group-0 {background-color: #8C7F56;} */
/* .line.group-1 {background-color: #CCAB72;} */
/* .line.group-2 {background-color: #D3DBA7;} */
/* .line.group-3 {background-color: #D8F5BD;} */
/* .line.group-4 {background-color: #FFF9F1;} */

/* My original one */
/* .line.group-0 {background-color: #C4FFD7;} */
/* .line.group-1 {background-color: #FEFFEB;} */
/* .line.group-2 {background-color: #F0EBFF;} */
/* .line.group-3 {background-color: #FFE0E0;} */
/* .line.group-4 {background-color: #7979FC;} */
/* .line.group-5 {background-color: #FF4845;} */
/* .line.group-6 {background-color: #5445FF;} */
/* .line.group-7 {background-color: #45FF54;} */
/* .line.group-8 {background-color: #FF45E9;} */
/* .line.group-9 {background-color: #45FFFF;} */
/* .line.group-10 {background-color: #F9FF45;} */

/* HIERARCHY */
.hierarchy .concept{
    float: left;
    padding: 0em 1em 0.75em 0;
    width: 20em;
    height: 4em;
    vertical-align: top;
    overflow: hidden;
}

/* CLEARFIX */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* MOUSEOVER TOOLTIP */
a.tooltip {
    outline:none; 
}
a.tooltip strong {
    line-height:30px;
}
a.tooltip:hover {
    text-decoration:none;
} 
a.tooltip span {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:28px;
    width:auto; 
    line-height:16px;
}
a.tooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#111;
    border:1px solid #DCA; 
    background:#fffAF0;
}
.callout {
    z-index:20;
    position:absolute;
    top:30px;
    border:0;
    left:-12px;
}
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
