/**********
 * Footer *
***********/
#footer{
  font-family: "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  margin: 2em 0 4em;
  text-align: center;
}

#footer .organisation{
    color: #cccccc;
}

#footer .organisation a{
    color: #cccccc;
}

#footer .link{
    margin-top: 0.75em;
    margin-left: -0.5em;
}

#footer img{
    width: 2.5em;
    margin-right: 0.5em;
    opacity: 0.6;
}
