body {
    font-family: "proxima-nova-1","proxima-nova-2",sans-serif !important;
}
h1,h2,h3{
    font-family : museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}
#logout{
    text-align: right;
}
a.btn.submit, #refset a.btn.submit, #refset button.submit{
    margin-top: 1em;
    text-shadow: none;
}
.errors p{
    margin: 0.25em 0 0;
}
form.delete{
    margin-bottom: 0.5em;
}

/***************
 * Page Header *
****************/
#page-header h1{
    font-family: click-clack-1, click-clack-2, serif;
    margin-top: 0.25em;
    font-size: 2.7em
}
#page-header{
    padding: 2em 0 0 0;
}
#page-header img{
    max-height: 4em;
}

/**********
 * Footer *
***********/
#footer{
    padding-top: 0em;
}
#footer p:first-child{
    margin-bottom: 0.25em;
}

/***********
 * Refset  *
************/
#rules{
    font-family: museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}

#rules .row{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.btn.bottom{
    margin-top: 2em;
}

h2.plan{
    margin:0 0 0.5em;
}

#newrule{
    float: right;
    margin-top: -2.5em;
}

#plan{
    margin-top: 2em;
}
.api-links{
    font-size: 0.9em;
    font-family : futura-pt-1, futura-pt-2; 
    text-align: right;
    margin-bottom: 2em;
    margin-right: 0.5em;
    margin-top: -3.7em;
}

#rules{
    margin-top: 2em;
}

#showConcepts{
    float: right;

}

#showConcepts button{
    width: 8.5em;
}

#rules .identifier{
    
}

#concepts{
    box-shadow: none;
}

#concepts a{
    border: none;
}

#rules .description{
    font-family: "proxima-nova-1","proxima-nova-2",sans-serif !important;
}
/******************
 * Response Modal *
*******************/
.response{
    width: 100%;
}

.response .parameter{
    padding: 0.25em 0;
}

.response  .parameter .name{
    width: 6em;
    font-weight: bold;
    float: left;
    font-family: museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}

.response  .parameter .value{
    float: left;
}

.response .parameter.error .value{
    width: 32em;
    font-style: italic;
}

/***************
 * Refset Edit *
***************/
#refset .breadcrumb {
    margin-bottom: 1.5em;
}
#refset.edit .form-group.concept{
    margin: 0;
}
.row.concept{
    
}

.set-operation .left{
    float: left;
}

.set-operation .operand{
    float: left;
    padding-left: 1em;
}

.set-operation .right{
    float: left;
    padding-left: 1em;
}

#setRuleModal .modal-dialog{
    width: 25em;
    height: 5em;
}

#listRuleModal button.mode{
    float: right;
    padding-top: -1em;
    width: 5em;
}

#listRuleModal h3{
    margin-top: 0;
    margin-bottom: 0.5em;
}

#listRuleModal .concepts a{
    border: none;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

#listRuleModal .concepts .list-group{
    box-shadow: 0 !important;
    margin-bottom: 0;
}

#listRuleModal button.error{
    float: left;
}

#terminal{
    float: right;
    padding-right: 0.5em;
    margin-top: -0.5em;
    font-family : museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}}

/**********************
 * Find-Concept Modal *
***********************/
.textsearch{
    margin-top: -1em;
}
.textsearch .input .syntax {
    display: none;
}

.row.concept .toggle-find-concept .btn.change{
    margin-top: 0.25em;
    float: right;
}
.row.concept .toggle-find-concept.inactive{
    display: none;
}
.row.concept .toggle-find-concept.active{
    display: block;
}