body {
    font-family: "proxima-nova-1","proxima-nova-2",sans-serif !important;
}
h1,h2,h3{
    font-family : museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}
#logout{
    text-align: right;
}
a.btn.submit, #refset a.btn.submit, #refset button.submit{
    margin-top: 1em;
    text-shadow: none;
}
.errors p{
    margin: 0.25em 0 0;
}
form.delete{
    margin-bottom: 0.5em;
}

/***************
 * Page Header *
****************/
#page-header h1{
    font-family: click-clack-1, click-clack-2, serif;
    margin-top: 0.25em;
    font-size: 2.7em
}
#page-header{
    padding: 2em 0 0 0;
}
#page-header img{
    max-height: 4em;
}

/**********
 * Footer *
***********/
#footer{
    padding-top: 0em;
}
#footer p:first-child{
    margin-bottom: 0.25em;
}

/***********
 * Refset  *
************/
#rules{
    font-family: museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}

#rules .row{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

a.btn.bottom{
    margin-top: 2em;
}

h2.plan{
    margin:0 0 0.5em;
}

#newrule{
    float: right;
    margin-top: -2.5em;
}

#plan{
    margin-top: 2em;
}
.api-links{
    font-size: 0.9em;
    font-family : futura-pt-1, futura-pt-2; 
    text-align: right;
    margin-right: 0.5em;
}

#rules{
    margin-top: 2em;
}

#showConcepts{
    float: right;

}

#showConcepts button{
    width: 8.5em;
}

#rules .identifier{
    
}

#rules .description{
    font-family: "proxima-nova-1","proxima-nova-2",sans-serif !important;
}

/***************
 * Refset Edit *
***************/
#refset .breadcrumb {
    margin-bottom: 1.5em;
}
#refset.edit .form-group.concept{
    margin: 0;
}
.row.concept{
    
}

/**********************
 * Find-Concept Modal *
***********************/
.textsearch{
    margin-top: -1em;
}
.textsearch .input .syntax {
    display: none;
}

.row.concept .toggle-find-concept .btn.change{
    margin-top: 0.25em;
    float: right;
}
.row.concept .toggle-find-concept.inactive{
    display: none;
}
.row.concept .toggle-find-concept.active{
    display: block;
}