body {
    font-family: "proxima-nova-1","proxima-nova-2",sans-serif !important;
}
h1,h2,h3{
    font-family : museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}
#logout{
    text-align: right;
}

/***************
 * Page Header *
****************/
#page-header h1{
    font-family: click-clack-1, click-clack-2, serif;
    margin-top: 0.25em;
    font-size: 3em;
}
#page-header{
    margin: 2em 0 0;
}
#page-header img{
    max-height: 4em;
}


/***********
 * Results *
************/
.textsearch .results a{
    border: none !important;
}
.textsearch .results{
    box-shadow: none !important;
    margin-top: 2em;
}
