body{
    font-family: "proxima-nova-1","proxima-nova-2",sans-serif;
  
    padding: 0 2em;
    font-size: 0.9em;
}

#company{
    padding: 1em 0;
}

#company h1{
    float: left;
    font-weight: normal;
    padding: 0.3em 0 0 0.75em;
    font-size: 2.5em;
/*     font-family: "cooper-black-std-1","cooper-black-std-2"; */
  font-family: "click-clack-1","click-clack-2",serif;

}

#company img.logo{
    float: left;
    height: 4em;
}

h1,h2,h3{
    font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;     
/*     font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;   */

}
h1{
    margin: 0; 
    float: left;
    font-weight: normal;
/*     font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;   */
}

h1 span.type {
    font-size: 0.75em;
}


.title .id{
    float: right;    
}

.title .id .number{
    font-size: 1.75em;
    font-weight: bold;
    padding-top: 0.15em;
}

.title .id.active .number{
    color: green;
}
.title .id.inactive .number{
    color: red;
}

#formats{
    text-align: right;
    font-size: 0.8em;
/*     font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;      */
    padding-bottom: 0.5em;
    
}

#formats .format{
    padding-left: 0.25em;
}

#formats .format a{
    text-decoration: none;
}


h3{
    margin: 2em 0 1em;
}



.triples h3{
   margin-bottom: 0;
   position: relative;
   z-index: 8;
}

.triples .section{
    position: relative;
    top: -1.2em;
}

.triples .pagination{
    font-size: 1em;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    text-align: center;
    color: lightgrey;
}

.pagination .navigation a{
    color: lightgrey;
}

.pagination .text{
    display: inline-block;
}

.pagination .navigation{
}

.pagination .navigation.left{
    float: left;
    padding-left: 0.5em;   
}

.pagination .navigation.right{
    float: right;
    padding-right: 0.5em;
}

.pagination .navigation a.start{
    
}

.pagination .navigation a.previous{
    padding-left: 1em;
}

.pagination .navigation a.last{
        padding-left: 1em;
}

.pagination .navigation a.next{
}

.section.bottom{
    
/*     position: absolute; */
}



.properties{
    font-weight: 100;
}

.concept{
    width: 35em;
}
.concept .properties{
    font-size: 0.8em;
    margin: 0;
    float: left;
    clear: both;
}

a{
    text-decoration: none;
}

/*GLOBAL HEADING*/
#global{
    margin-top: 1em;
}

h2{
    margin: 0;
    font-size: 1.5em;
/*     font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;   */
    padding-bottom: 0.25em;
}

h2 a{
    text-decoration: none;
    color: lightgrey;
}

#global-navigation{
    float: right;
}

#ontology{

}

#find-concept{
    padding-top: 0.25em;
}

#find-concept input{
    float: right;
    width: 11.5em;
    text-align: right;
}

#find-concept button{
    float: right;
    margin: 0.3em 0 0 0.5em;
}

/* HEADING */

#heading h1{
    
}

#heading .properties{
    clear: both;
}

#heading .properties .effectiveTime{
    color: grey;
    float: right;
/*       font-family: "anonymous-pro-1","anonymous-pro-2",sans-serif; */
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
    
}

#heading .properties .status{
    float: left;
}

#heading .properties .status a{
    text-decoration: none;
}


span.show-hide{
    float: right;
    font-size: 0.75em;
/*     font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif; */
}
span.show-hide a{
    text-decoration: none;
    
}

table.descriptions{
    display: block;
}

/* DESCRIPTIONS TABLE */
table.descriptions td.isactive{
    width: 2em;
    padding-top: 0.2em
}

table.descriptions td.id{
 
    
}

table.descriptions td.type{
    color: grey;
    width: 5.5em;
    padding-left: 1.5em;
}

table.descriptions td.term{
    
}

table.descriptions tr{
    line-height: 1.5em;
}



/* TRIPLES TABLE */
table{
    width: 100%;
    border-spacing: 0;
    float: left;
}
table th{
    font-weight: normal;
    text-align: left;
    padding: 0 0 0.5em 0.2em;
}
.triples table td{
    vertical-align: top;
    padding: 0.25em;    
}
.triples table td.isactive{
    width: 2em;
    padding-top: 0.4em;
}
.triples table td.statement{
    width: 4.5em;
}
.triples table td.statement .number{
    font-size: 0.75em;
    font-weight: 200;
    float: left;
}


.triples table td.statement a{
    float: left
}


.triples table td.statement span.popup .title{
    float: left;
    width: 7em;
}
.triples table td.statement span.popup .value{
    float: left;
}
.triples table td.group{
    text-align: right;
    font-size: 0.8em;
    font-weight: 200;
    padding-right: 1em;
    padding-top: 1em;
    width: 4em;
}
.triples table td.group.top{
    padding-top: 0;
}

.triples .circle{
    margin-left: 1em; 
}

/* ROUNDED CORNERS */
.triples table tr:first-child td:first-child{
    border-top-left-radius: 12px;
}
.triples table tr:first-child td:last-child{
    border-top-right-radius: 12px;
}
.triples table tr:last-child td:first-child{
    border-bottom-left-radius: 12px;
}
.triples table tr:last-child td:last-child{
    border-bottom-right-radius: 12px;
}
.triples table tr:first-child td{
    padding-top: 1em;
}
.triples table tr:first-child td.statement{
    padding-top: 1.2em;
}
.triples table tr:last-child td{
    padding-bottom: 1em;
}
.triples table td.statement{
    padding-top: 0.45em;    
}
.triples table tr:first-child td.isactive{
    padding-top: 1.15em;
}
.triples table tr:first-child td.group{
    padding-top: 1em;
}

/* COLORS */

/*  Kuler - Heirloom one */
.triples table tr.group-0 td {background-color: #C7B773;}
.triples table tr.group-1 td {background-color: #E3DB9A;}
.triples table tr.group-2 td {background-color: #F5FCD0;}
.triples table tr.group-3 td {background-color: #B1C2B3;}
.triples table tr.group-4 td {background-color: #778691;}

/* Adobe Kuler - Hidden in the crowd */
.triples table tr.group-5 td {background-color: #7BB2A3;}
.triples table tr.group-6 td {background-color: #8EAD79;}
.triples table tr.group-7 td {background-color: #ADB064;}
.triples table tr.group-8 td {background-color: #E0D867;}
.triples table tr.group-9 td {background-color: #161616;}

/* and one extra */
.triples table tr.group-10 {background-color: #F2D649;}


/* Adobe Kuler - Vintage beach  */
/* .triples table tr.group-0 {background-color: #B89A7B;} */
/* .triples table tr.group-1 {background-color: #9BBAAC;} */
/* .triples table tr.group-2 {background-color: #F2D649;} */
/* .triples table tr.group-3 {background-color: #D95D50;} */
/* .triples table tr.group-4 {background-color: #DBDBDB;} */

/* Adobe Kuler - Pleasant  */
/* .triples table tr.group-0 {background-color: #8C7F56;} */
/* .triples table tr.group-1 {background-color: #CCAB72;} */
/* .triples table tr.group-2 {background-color: #D3DBA7;} */
/* .triples table tr.group-3 {background-color: #D8F5BD;} */
/* .triples table tr.group-4 {background-color: #FFF9F1;} */

/* My original one */
/* .triples table tr.group-0 {background-color: #C4FFD7;} */
/* .triples table tr.group-1 {background-color: #FEFFEB;} */
/* .triples table tr.group-2 {background-color: #F0EBFF;} */
/* .triples table tr.group-3 {background-color: #FFE0E0;} */
/* .triples table tr.group-4 {background-color: #7979FC;} */
/* .triples table tr.group-5 {background-color: #FF4845;} */
/* .triples table tr.group-6 {background-color: #5445FF;} */
/* .triples table tr.group-7 {background-color: #45FF54;} */
/* .triples table tr.group-8 {background-color: #FF45E9;} */
/* .triples table tr.group-9 {background-color: #45FFFF;} */
/* .triples table tr.group-10 {background-color: #F9FF45;} */

/* HIERARCHY */
.hierarchy .concept{
    float: left;
    padding: 0em 1em 0.75em 0;
    width: 20em;
    height: 4em;
    vertical-align: top;
    overflow: hidden;
}

.hierarchy .concept.inactive{
    color:red;
}

/* .hierarchy .concept.inactive a{ */
/*     color:red; */
/* } */

/* CLEARFIX */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* TOOLTIP */

/* .description.popup .properties{ */
/*     width: 100%; */
/*     clear: both; */
/* } */

/* .description.popup .properties .property{ */
/*     float: left; */
/*     width: 100%; */
/*     clear: both; */
/* } */

/* .description.popup .properties .property .title{ */
/*     float: left; */
/*     width: 10em; */
/* } */

/* .description.popup .properties .property .value{ */
/*     float: left; */
/* } */

span.popup .line{
    line-height: 1.75em;
    clear: both;
}

span.popup .title{
    float: left;
    width: 6em;
    font-weight: bold;    
}
.concept span.popup .line .title{
    width: 5em;
}

.concept span.popup .line .value{
    width: auto;
}

.statement span.popup .line .title{
    width: 4.5em;
}

.statement span.popup .line .value{
    width: auto;
}

.descriptions a{
    text-decoration: none;
}

.concept *.tooltip span, .statement *.tooltip span {

}

.tooltip .circle{
    bottom: 5px;
    float: right;
    left: 10px;
    position: relative;
}

span.popup .value{
    float: left;
}

*.tooltip {
    outline:none; 
}
.tooltip a{
    float: left;
}

*.tooltip strong {
    line-height:30px;
}
*.tooltip:hover {
    text-decoration:none;
} 
*.tooltip span {
    z-index:10;
    display:none; 
    padding:12px 18px;
    margin-top:-38px; 
    margin-left:20px;
    width:auto; 
    line-height:16px;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 0.9em;
}

.descriptions *.tooltip span{
    margin-top: -36px;
}

.isactive .tooltip span{
    padding:4px 10px 5px;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    margin-left: 18px;
    margin-top: -32px;
}

.statement .tooltip span{
    margin-top: -50px;
    margin-left: 17px;    
}

#heading .isactive .tooltip span{
    right: 175px;
}

*.tooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#111;
    border:1px solid #DCA; 
    background:#fffAF0;
    border-radius: 10px 10px 10px 10px;
}



*.tooltip.left span{
    margin-top:-54px;
}

*.tooltip.left:hover span{
    margin-left: -5.5em;
    padding-top: -20em;
}

*.inactive.tooltip.left:hover span{
    margin-left: -6em;
}

.callout {
    z-index:20;
    top:30px;
    border:0;
    left:-12px;
}
*.tooltip span
{
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

.tooltip.arrow span:after, .tooltip.arrow span:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip.arrow span:after {
    border-color: rgba(255, 250, 240, 0);
    border-right-color: #fffAF0;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.tooltip.arrow span:before {
    border-color: rgba(221, 204, 170, 0);
    border-right-color: #DCA;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}



/* table tr:nth-child(2) td, table tr:last-child td{ */
/*     height: 0.25em; */
/* } */

/* MOUSEOVER TOOLTIP */
/* a.tooltip { */
/*     outline:none;  */
/* } */
/* a.tooltip strong { */
/*     line-height:30px; */
/* } */
/* a.tooltip:hover { */
/*     text-decoration:none; */
/* }  */
/* a.tooltip span { */
/*     z-index:10; */
/*     display:none;  */
/*     padding:14px 20px; */
/*     margin-top:-30px;  */
/*     margin-left:28px; */
/*     width:auto;  */
/*     line-height:16px; */
/* } */
/* a.tooltip:hover span{ */
/*     display:inline;  */
/*     position:absolute;  */
/*     color:#111; */
/*     border:1px solid #DCA;  */
/*     background:#fffAF0; */
/* } */
/* .callout { */
/*     z-index:20; */
/*     position:absolute; */
/*     top:30px; */
/*     border:0; */
/*     left:-12px; */
/* } */
/* a.tooltip span */
/* { */
/*     border-radius:4px; */
/*     -moz-border-radius: 4px; */
/*     -webkit-border-radius: 4px; */
        
/*     -moz-box-shadow: 5px 5px 8px #CCC; */
/*     -webkit-box-shadow: 5px 5px 8px #CCC; */
/*     box-shadow: 5px 5px 8px #CCC; */
/* } */

body#notfound{
    padding: 0;
    margin: 0;
}
body#notfound img{
    width: 100%;
}
body#notfound h1{
    bottom: 60px;
    float: none;
    height: 0;
    margin-left: 15px;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2em;
}
body#notfound span{
    font-weight: bold;
}
.circle {
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
}

.small{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.triples .small, .hierarchy .small{
    margin-right: 0px;
}


.large{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 6px;
    float: left;
}

.circle.inactive {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #FF6666 0%, red 100%, yellow 5%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #FF6666, red);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #FF6666 0%, red 100%, yellow 5%);
    border: 1px solid red;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.circle.active {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%, blue 5%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, lightgreen, green);
    background-image: radial-gradient(45px 45px 45deg, circle cover, lightgreen 0%, green 100%, blue 5%);
    border: 1px solid green;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.id{
  font-family: "futura-pt-1","futura-pt-2",sans-serif;

}

body#description-details .properties{
    width: 100%;
    clear: both;
}

body#description-details .properties .property{
    float: left;
    width: 100%;
    clear: both;
}

body#description-details .properties .property .title{
    float: left;
    width: 10em;
}

body#description-details .properties .property .value{
    float: left;
}


.footer{
    width: 100%;
    text-align: center;
    font-family: "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;     
    padding-bottom: 4em;
}

.footer .author{
    color: #cccccc;
}
.footer .author .name{
    /*font-family: click-clack-1, click-clack-2, serif;*/
}

.footer .link{
    margin-top: 0.25em;
    margin-left: -0.5em;

}

.footer img{
    width: 2.5em;
    margin-right: 0.5em;
}

/** QUERY **/

body#sparql .binding{
    float: left;
    
}

body#sparql .binding a{
    
}

body#sparql .binding.concept{
    width: 100%;
}

body#sparql table.results tr.result{
    height: 1.5em;
    text-align: top;
}

body#sparql table td{
    height: 1.25em;
}

body#sparql .submit{
    padding-top: 1em;
    padding-bottom: 1em;
}

body#sparql .binding a{
    float: left;
}

body#sparql table.results td:first-child{
    padding-right: 1em;
}

body#sparql table.results{
    width: 85%;
}

body#sparql .binding .id{
    float: left;
    padding-left: 0.75em;
    font-size: 0.8em;
    padding-top: 0.05em;
    
}

body#sparql .input{
    width: 45%;
}

body#sparql .input textarea{
    font-size: 1em;
    width: 100%;
}

body#sparql h2{
    width:100%;
    padding-bottom: 0.5em;
    padding-top: 1em;
    color: green;
    font-size: 175%;
    
}

body#sparql #navigation{
    float: right;    
}

#logout{
    float: right;
    padding: 0 0.25em 0.25em 0;
}


body#sparql .prefixes{
    float: left;
    
}

body#sparql .prefixes{
    float: left;
    padding-left: 2em;
    padding-top: 0.5em;
    font-size: 0.9em;
}

body#sparql .prefixes h3{
    margin-top: 0em;
    margin-bottom: 0.5em;
    }

body#sparql .prefixes table tr td:first-child{
    width: 3em;
    font-weight: bold;
}

body#sparql .prefixes table tr td:nth-child(2){
    color: grey;
}

body#sparql .input{
    float: left;
}

body#sparql .submit{
    clear: left;
}

body#sparql .attributes{
    float: right;
    font-size: 0.9em;
}

body#sparql .attributes h4{
    margin: 0.75em 0 0.5em;
}

body#sparql .attributes ul{
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0.5em;
    margin-top: 0em;
    color: grey;
}

body#sparql .attributes li{
    padding: 0.2em 0;
}

body#sparql .attributes .reference{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
body#sparql .attributes .reference:first-child{
    margin-bottom: 0.2em;
}


body#search .text-search {
    padding-bottom: 1em;
}

body#search .concept-input{
    font-family : "museo-sans-1","museo-sans-2", Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;     
    padding: 0 2em;
}

body#search .concept-input label{
    color: #cccccc;
    font-weight: normal;
    font-size: 2em;
    float: left;
    width: 4em;
    margin-top: -0.1em;
}

body#search .concept-input .controls {
    margin-left: 9em;
}


body#search .concept-input input{
    width: 100%;
    height: 2.5em;
    display: block;
}


body#search .concept-input input {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

body#search .concept-input .total {
    color: #cccccc;
    text-align: right;
    margin-top: -2.6em;
    margin-right: 0.5em;
}

body#search .concept-input .syntax {
    text-align: right;
    margin-right: 0.5em;
}




body#search .concept-results{
    float: left;
    clear: both;
    padding-left: 2em;
    padding-top: 1em;
}

body#search .concept-results a{
    
}

body#search .concept-results .identifier{
    padding-left: 0.5em;
    font-size: 0.8em;
}

body#search .concept-results .list-group-item{
    padding: 5px 0;
}

body#search .concept-results ul{
    color: grey;
    border: 0;
    list-style-type: none;
    margin:0;
    padding:0;
    box-shadow: none;
}

body#search .concept-results li{
    border: 0;
    display:inline;
    width: 100%;
    float: left;
}

body#search .concept-results li label{
    font-weight: normal;
}

body#search .concept-results .result-property{
    font-size: 0.8em;
}

body#search ul.pagination li{
    display: inline;
}

body#search .text-search .pages{
    width: 100%;
    float: left;
    padding-top: 0.5em;
}

body#search .text-search .pages .pagination{
    width: 56em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body#search .text-search .pages ul{
    width: 100%;
    margin-top: 0;
}

#page-header h1{
    font-family: click-clack-1, click-clack-2, serif;
    font-size: 2.5em;
    padding: 0.4em 0 0 0.5em;
}

#page-header{
    padding: 1em 2em 0;
}

#page-header img{
    max-height: 5em;
    margin-top: 1em;
    margin-left: -0.2em;
    float: left;
}

#logout{
    float: right;
}




/* BOOTSTRAP FIX */

.pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    color: #999999;
    cursor: not-allowed;
}
.pagination li a:hover, .pagination li span:hover, .pagination li a:focus, .pagination li span:focus {
    background-color: #EEEEEE;
}
.pagination li a, .pagination li span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    float: left;
    width: 4em;
    text-align: center;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
